<%-include('up')%>
<div class="row margin-top">
	<div class="col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2>Welcome <%=user.name%></h2>
			</div>
			<div class="panel-body">
				This is your dashboard
			</div>
		</div>
	</div>
</div>
<%-include('down')%>
