			<div class="row margin-top" style="border-top: 1px solid black;">
				<div class="container-fluid margin-top">
					Copyright <i class="glyphicon glyphicon-copyright-mark"></i> 2017 Copyright Holder All Rights Reserved.
				</div>
			</div>
		</div>
    </body>
</html>
