        <div class="row">
			<footer class="footer margin-top" style="border-top: 1px solid black;">
				Copyright (c) 2016 Copyright Holder All Rights Reserved.
	            <div class="container-fluid margin-top">
	                    Copyright <i class="glyphicon glyphicon-copyright-mark"></i> 2017 Copyright Holder All Rights Reserved.
	            </div>
	        </footer>
        </div>
    </body>
</html>
